* {
    font-family: Arial;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5e4ebb;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 24px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    margin: 0;
    font-size: 18px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"],
select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #5e4ebb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

p {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}