body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ccccc0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

.input-group {
    margin: 10px 0;
}

label {
    display: block;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

#imagenResultado {
    margin-top: 20px;
    display: none;
}
